{% extends "layout.html" %}
{% block title %}Set Password{% endblock %}
{% block body %}
  <h1>Set password</h1>
  <p>Add a password to sign in with your email, in addition to magic links.</p>

  <section class="panel">
    <form method="post" action="{{ url_for('auth.set_password') }}" class="stack">
      <label>New password
        <input type="password" name="password" required minlength="8" autocomplete="new-password" />
      </label>
      <label>Confirm new password
        <input type="password" name="password_confirmation" required minlength="8" autocomplete="new-password" />
      </label>
      <button type="submit">Set password</button>
    </form>
  </section>
{% endblock %}
